{% extends 'base.html.twig' %}

{% block title %}Edit Member{% endblock %}

{% block body %}
    <a title="Retour vers la liste des membres" class="btn btn-default btn-sm"
       href="{{ path('member_index') }}"><i
                class="material-icons">arrow_back</i> Retour</a>
    {% set step = 'edit' %}

    {{ include('member/_form.html.twig', {'button_label': 'Update'}) }}

    <p class="d-inline font-weight-bold text-bold">Supprimer </p>
    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
