{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <a title="Retour vers la liste des membres" class="btn btn-default btn-sm"
       href="{{ path('member_index') }}"><i
                class="material-icons">arrow_back</i> Retour</a>

    {{ include('member/_form.html.twig') }}
{% endblock %}
