{% extends 'base.html.twig' %}

{% block title %}FormaGreen::Partnerships{% endblock %}

{% block body %}
<div class="wrapper ">
    {% include './partial/sidebar.html.twig' %}

    <div class="main-panel">
        {% include './partial/nav.html.twig' %}

        <div class="content">
            <div class="container-fluid">
                Partnerships LIST
                WITH ACTIONS
            </div>
        </div>
    </div>
</div>
{% endblock %}
