{% extends 'base.html.twig' %}

{% block title %}New Partnership{% endblock %}

{% block body %}
    <a title="Retour vers la liste des partenaires" class="btn btn-default btn-sm"
       href="{{ path('partnership_index') }}"><i
                class="material-icons">arrow_back</i> Retour</a>

    {{ include('partnership/_form.html.twig') }}
{% endblock %}
