{% extends 'base.html.twig' %}

{% block title %}Edit Green Area{% endblock %}

{% block body %}
    <h1>Edit Green Area</h1>

    {{ include('greenarea/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('greenarea_index') }}">back to list</a>

    {{ include('greenarea/_delete_form.html.twig') }}
{% endblock %}
