{% extends 'base.html.twig' %}

{% block title %}Edit Green Area{% endblock %}

{% block body %}
    <a title="Retour vers la liste des Green Area" class="btn btn-default btn-sm"
       href="{{ path('greenarea_list') }}"><i
                class="material-icons">arrow_back</i> Retour</a>

    {{ include('green_area/_form.html.twig', {'button_label': 'Update'}) }}

    <p class="d-inline font-weight-bold text-bold">Supprimer </p>
    {{ include('green_area/_delete_form.html.twig') }}
{% endblock %}
