{% extends 'base.html.twig' %}

{% block title %}New Green Area{% endblock %}

{% block body %}
    <a title="Retour vers la liste des Green Area" class="btn btn-default btn-sm"
       href="{{ path('greenarea_list') }}"><i
                class="material-icons">arrow_back</i> Retour</a>

    {{ include('green_area/_form.html.twig') }}
{% endblock %}
