{% extends 'base.html.twig' %}

{% block title %}Edit subscription{% endblock %}

{% block body %}
    <h1>Edit subscription</h1>

    {{ include('subscription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('subscription_index') }}">back to list</a>

    {{ include('subscription/_delete_form.html.twig') }}
{% endblock %}
