{% extends 'base.html.twig' %}

{% block title %}New subscription{% endblock %}

{% block body %}
    <a title="Retour vers la liste des souscription" class="btn btn-default btn-sm"
       href="{{ path('subscription_index') }}"><i
                class="material-icons">arrow_back</i> Retour</a>

    {{ include('subscription/_form.html.twig') }}
{% endblock %}
