{% extends 'base.html.twig' %}

{% block title %}Edit Forming Structure{% endblock %}

{% block body %}
    <a title="Retour vers la liste des forming structures" class="btn btn-default btn-sm"
       href="{{ path('formingStructure_index') }}"><i
                class="material-icons">arrow_back</i> Retour</a>

    {{ include('forming_structure/_form.html.twig', {'button_label': 'Update'}) }}

    <p class="d-inline font-weight-bold text-bold">Supprimer </p>
    {{ include('forming_structure/_delete_form.html.twig') }}
{% endblock %}
